{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section">
  <div class="container">
    <div class="product-item">
       <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/we.jpeg' %}" alt="">
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded">
         <p class="mb-0">La Asociación de Judo de Quetzaltenango, fundada para promover y cultivar la práctica del judo en la región, cuenta con un dedicado cuerpo técnico compuesto por dos sensei altamente calificados. Con sedes estratégicamente ubicadas en distintas partes de Quetzaltenango, la asociación ofrece a sus miembros un acceso conveniente y comprometido a la enseñanza y desarrollo del judo.</p>
         <p class="mb-0">La estructura organizativa de la asociación incluye una diligente directiva conformada por un presidente, un secretario y un vocal. Estos líderes trabajan de la mano para guiar y fortalecer la comunidad judoka, fomentando no solo la excelencia en la técnica, sino también los valores fundamentales de respeto, disciplina y camaradería.</p>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex mr-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">Presidente</span>
            <span class="section-heading-lower">Hector García</span>
          </h2>
        </div>
      </div>
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">Morbi dapibus malesuada mollis. Nunc cursus velit eget cursus pharetra. Ut feugiat, dui id congue porttitor, sem erat pharetra dui, in ullamcorper quam nulla vitae quam. Sed blandit libero feugiat diam cursus, nec euismod ante consequat. Curabitur nec tincidunt ipsum, in tempor turpis. Sed ut metus a nisl rhoncus placerat.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex mr-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">secretario</span>
            <span class="section-heading-lower">Ricardo Gamez</span>
          </h2>
        </div>
      </div>
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">Integer ac elementum lacus, consectetur cursus tellus. Suspendisse faucibus sapien massa, ac pharetra est aliquet a. In interdum feugiat ultrices. Aliquam eget tempor libero. Aliquam sit amet ante quis lectus fermentum bibendum. Ut molestie nulla in tellus euismod feugiat. Nunc varius erat nulla, eu dictum mi ultrices in.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}