{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/historia.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">historia</span>
            </h2>
          <p>Fundado en 1882 por Jigoro Kano, el judo tiene una rica historia llena de tradición y éxito. Desde sus humildes comienzos en Japón, el judo se ha expandido por todo el mundo, convirtiéndose en un deporte respetado y practicado por millones de personas.</p>
          <p>El judo no solo es un arte marcial, sino también una filosofía de vida. Enseña valores como la cortesía, la integridad, la perseverancia y el respeto mutuo. Los principios fundamentales del judo, como la máxima eficacia con el mínimo esfuerzo y la amabilidad y benevolencia, siguen siendo fundamentales en la práctica de este deporte.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

    